// Configuracion general del sitio

$white: #FFFFFF;
$font: Poppins;

//text variables
$weight-text: 700;
$question-color: #2F527B;

//Options variables
$weight-options: 500;
$options-color: #6066D0CC;
$option-size: 18px;
$hover-color: #F9A826;
$correct-answer: #60BF88;
$incorrect-answer: #EA8282;